<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="my-5 w-25" src="https://st.depositphotos.com/1570716/4101/i/450/depositphotos_41018917-stock-photo-businessman-push-to-contact-us.jpg" alt="">
            <p class="mb-4">
                Have questions, feedback, or just want to say hello? We’d love to hear from you!  
                Whether you’re experiencing an issue, have a suggestion, or want to collaborate, don’t hesitate to reach out.
              </p>
              <p class="mb-4">
                You can contact us via email at <a href="example&#64;example.com">example&#64;example.com</a>,  
                or follow us on our social channels below. We're here to help and always excited to connect with our users!
              </p>
              <p>
                Looking forward to hearing from you 💬
              </p>
            <div class="row">
                <div class="col d-flex justify-content-evenly mb-5">
                    <a href="">
                        <i class="bi bi-github fs-1"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-facebook fs-1"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-instagram fs-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>