<div class="container">
    <div class="row">
        <div class="col text-center">
            <img class="my-5 w-25" src="https://st.depositphotos.com/1038076/4908/i/450/depositphotos_49080337-stock-photo-about-us.jpg" alt="">
            <p class="mb-5">
                Welcome to our app! We’re a passionate team of developers committed to building smart, intuitive, and user-friendly solutions to make your life easier. Whether you’re managing products, organizing data, or navigating your dashboard, our goal is to provide a seamless experience from start to finish.

                This project was created with the belief that powerful tools don’t need to be complicated. We’re constantly working on improvements and new features, driven by feedback from awesome users like you.
                
                Thanks for being a part of the journey. We’re just getting started 🚀
            </p>
            <div class="row">
                <div class="col d-flex justify-content-evenly mb-5">
                    <a href="">
                        <i class="bi bi-github fs-1"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-facebook fs-1"></i>
                    </a>
                    <a href="">
                        <i class="bi bi-instagram fs-1"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>